APP_PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:docker@localhost:5450/api-barber-db?schema=public"

JWT_SECRET=fake_secret
JWT_EXPIRES_IN=86400


# For test
APP_PORT=3000
NODE_ENV=test

DATABASE_URL="postgresql://postgres:docker@localhost:5450/api-barber-db?schema=test"

JWT_SECRET=fake_secret
JWT_EXPIRES_IN=86400
